<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>checkAccValue</filter-name>
        <filter-class>Filter.checkAccValue</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>checkAccValue</filter-name>
        <url-pattern>/AllNovel.jsp</url-pattern>
        <url-pattern>/addNovel.jsp</url-pattern>
        <url-pattern>/UploadChapterServlet</url-pattern>
        <url-pattern>/EditNovel.jsp</url-pattern>
        <url-pattern>/EditNovelTypeAuthor.jsp</url-pattern>
        <url-pattern>/FollowListServlet</url-pattern>
        <url-pattern>/DeleteTypeAuthor.jsp</url-pattern>
        <url-pattern>/InformationCus</url-pattern>
        <url-pattern>/Update.jsp</url-pattern>
        <url-pattern>/inforAcc.jsp</url-pattern>
        <url-pattern>/novelDetail.jsp</url-pattern>
        <url-pattern>/AddTypeAuthor.jsp</url-pattern>
        <url-pattern>/updateChapter.jsp</url-pattern>
        <url-pattern>/authorDetail.jsp</url-pattern>
        <url-pattern>/DeleteChapter</url-pattern>
        <url-pattern>/DeleteIllustration</url-pattern>
        <url-pattern>/DeleteNovelServlet</url-pattern>
        <url-pattern>/AddIllustrationServlet</url-pattern>
        
        <url-pattern>/deleteChapter.jsp</url-pattern>
        <url-pattern>/deleteNovel.jsp</url-pattern>
        <url-pattern>/addIllustration.jsp</url-pattern>
        <url-pattern>/searchBox.jsp</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>role</filter-name>
        <filter-class>Filter.role</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>role</filter-name>
        <url-pattern>/AddTypeAuthor.jsp</url-pattern>
        <url-pattern>/addNovel.jsp</url-pattern>
        <url-pattern>/UploadChapterServlet</url-pattern>
        <url-pattern>/EditNovel.jsp</url-pattern>
        <url-pattern>/EditNovelTypeAuthor.jsp</url-pattern>
        <url-pattern>/DeleteTypeAuthor.jsp</url-pattern>
        <url-pattern>/listAddForAdmin.jsp</url-pattern>
        <url-pattern>/DeleteChapter</url-pattern>
        <url-pattern>/DeleteIllustration</url-pattern>
        <url-pattern>/DeleteNovelServlet</url-pattern>
        <url-pattern>/AddIllustrationServlet</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>AddAuthorServlet</servlet-name>
        <servlet-class>Controller.AddAuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTypeAuthorServlet</servlet-name>
        <servlet-class>Controller.EditTypeAuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTypeAuthor</servlet-name>
        <servlet-class>Controller.DeleteTypeAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChapter</servlet-name>
        <servlet-class>Controller.DeleteChapter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FollowListServlet</servlet-name>
        <url-pattern>/FollowListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowNovelServlet</servlet-name>
        <url-pattern>/FollowNovelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAuthorServlet</servlet-name>
        <url-pattern>/AddAuthorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTypeAuthorServlet</servlet-name>
        <url-pattern>/EditTypeAuthorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTypeAuthor</servlet-name>
        <url-pattern>/DeleteTypeAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChapter</servlet-name>
        <url-pattern>/DeleteChapter</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
        <!-- JSP mà bạn muốn làm trang chính -->
    </welcome-file-list>
    <servlet>
        <servlet-name>NovelDetailsServlet</servlet-name>
        <servlet-class>Controller.NovelDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readNovelServlet</servlet-name>
        <servlet-class>Controller.readNovelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowListServlet</servlet-name>
        <servlet-class>Controller.FollowListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowNovelServlet</servlet-name>
        <servlet-class>Controller.FollowNovelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovelDetailsServlet</servlet-name>
        <url-pattern>/NovelDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readNovelServlet</servlet-name>
        <url-pattern>/readNovelServlet</url-pattern>
    </servlet-mapping>
</web-app>
